{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="grid grid-cols-3 gap-1">
        <aside>
            {% include 'component/aside-search.html.twig' %}
            {% include 'component/aside-consultation.html.twig' %}
        </aside>
        <main class="bg-gray-200 col-span-2">
            <section class="bg-gray-700">
                section quoi de neuf
            </section>
            <section class="bg-gray-500">
                section dernières publication
            </section>
        </main>

    </div>

{% endblock %}
