{% extends 'base.html.twig' %}

{% block title %}Page d'Accueil{% endblock %}

{% block body %}

    <section class="bg-gray-800 pt-6">
        <div class="rounded-lg bg-gradient-to-b from-gray-700 to-gray-500 p-8 mx-60 shadow-lg">
            <a href="{{ path('add_photo') }}">
                <div class="rounded-full py-4 bg-blue-900 hover:bg-blue-700 text-gray-400 px-8">
                  Ajouter des photos ...
                </div>
            </a>
        </div>
    </section>

    <section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">

        <div class="text-center pb-12">
            <p class="text-base text-2xl font-bold text-blue-600">Les Dernières Publications</p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <div class="w-full bg-gray-300 rounded-lg shadow-lg overflow-hidden flex flex-col justify-center items-center">
                <div>
                    <img class="object-center object-cover h-auto w-full" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="photo">
                </div>
                <div class="text-center py-8 sm:py-6">
                    <p class="text-xl text-gray-700 font-bold mb-2">Posté le ....</p>
                    <p class="text-base text-gray-400 font-normal">Par ....</p>
                    <p class="text-base text-gray-400 font-normal">Album ...</p>
                </div>
            </div>
            <div class="w-full bg-white rounded-lg shadow-lg overflow-hidden flex flex-col justify-center items-center">
                <div>
                    <img class="object-center object-cover h-auto w-full" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="photo">
                </div>
                <div class="text-center py-8 sm:py-6">
                    <p class="text-xl text-gray-700 font-bold mb-2">Posté le ....</p>
                    <p class="text-base text-gray-400 font-normal">Par ....</p>
                    <p class="text-base text-gray-400 font-normal">Album ...</p>
                </div>
            </div>
            <div class="w-full bg-white rounded-lg shadow-lg overflow-hidden flex flex-col justify-center items-center">
                <div>
                    <img class="object-center object-cover h-auto w-full" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="photo">
                </div>
                <div class="text-center py-8 sm:py-6">
                    <p class="text-xl text-gray-700 font-bold mb-2">Posté le ....</p>
                    <p class="text-base text-gray-400 font-normal">Par ....</p>
                    <p class="text-base text-gray-400 font-normal">Album ...</p>
                </div>
            </div>
            <div class="w-full bg-white rounded-lg shadow-lg overflow-hidden flex flex-col justify-center items-center">
                <div>
                    <img class="object-center object-cover h-auto w-full" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="photo">
                </div>
                <div class="text-center py-8 sm:py-6">
                    <p class="text-xl text-gray-700 font-bold mb-2">Posté le ....</p>
                    <p class="text-base text-gray-400 font-normal">Par ....</p>
                    <p class="text-base text-gray-400 font-normal">Album ...</p>
                </div>
            </div>
            <div class="w-full bg-white rounded-lg shadow-lg overflow-hidden flex flex-col justify-center items-center">
                <div>
                    <img class="object-center object-cover h-auto w-full" src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="photo">
                </div>
                <div class="text-center py-8 sm:py-6">
                    <p class="text-xl text-gray-700 font-bold mb-2">Posté le ....</p>
                    <p class="text-base text-gray-400 font-normal">Par ....</p>
                    <p class="text-base text-gray-400 font-normal">Album ...</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
