{% extends 'base.html.twig' %}

{% block title %}Ajouter des nouvelles personnes{% endblock %}

{% block body %}

    <div class="fixed right-1 pt-6 pr-6">
        <a href= "{{ path('detailsPhoto', {titleAlbum:titleAlbum, idPhoto:photoId, status:status, count:count} ) }}" title="fermer" class="modal-close px-3 py-2 text-xs rounded-lg text-gray-300 text-gray-300 bg-red-700 hover:bg-red-500 hover:text-white transform transition duration-500">FERMER</a>
    </div>

    <div class="pt-6">
        <div class="rounded-lg bg-gradient-to-b from-gray-700 to-gray-500 -m-10 px-10 lg:px-28 lg:p-10 p-4 mx-60 shadow-lg">

            <p class="lg:text-4xl text-xl text-white text-center mb-10">Renseignez le Lieu</p>

            <section class="formTag">
                {{ form_start(setPlaceForm) }}
                {{ form_row(setPlaceForm.lieu) }}
                <button id="displayTagListBtn" class="flex mt-10 m-auto px-3 py-2 text-sm lg:text-base rounded-lg text-gray-300 bg-blue-700 hover:bg-blue-500 hover:text-white transform transition duration-500">
                    Ajouter
                </button>
                {{ form_end(setPlaceForm) }}
            </section>
        </div>
    </div>

{% endblock %}
