<div class="formComment">

    {{ form_start(commentForm) }}
    {{ form_row(commentForm.Texte) }}
    <button class="px-3 py-2 text-sm rounded-lg text-gray-300 bg-blue-900 hover:bg-blue-700">
        OK
    </button>
    {{ form_end(commentForm) }}

</div>