{%  extends'@EasyAdmin/layout.html.twig' %}

{% block content %}
    <div>
        <h1>Dashboard Administrateur</h1>
        <p>Se reporter à la liste de gauche et sélectionner l'item désiré afin de créer, supprimer ou modifier des éléments</p>
    </div>

{% endblock %}