{% extends 'base.html.twig' %}

{% block title %}All Themes{% endblock %}

{% block body %}

    {%  include 'component/inputAddPhoto.html.twig' %}

    <section class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
        <div class="pb-12">
            <p class="text-base text-2xl text-gray-400">> <span class="text-xl text-blue-600"> > Toutes les années</span></p>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-8 mt-5">
            {% for year in yearListSortedUnique %}
                {% if year == null %}
                    <a href="{{ path('displaySingleYear', {photoAnnee:0000} )  }}" > <div class="hover:bg-blue-600   w-full bg-gradient-to-b from-gray-600 to-gray-400 rounded-lg shadow-lg overflow-hidden flex justify-center items-center items-stretch">
                            <div class="text-center hover:text-white text-3xl text-gray-800 font-bold mb-2 py-8 sm:py-6 transform transition duration-500">
                                SANS DATE
                            </div>
                        </div>
                    </a>
                {% else %}
                    <a href="{{ path('displaySingleYear', {photoAnnee:year} )  }}" >
                        <div class="w-full bg-gradient-to-b from-gray-600 to-gray-400 rounded-lg shadow-lg overflow-hidden flex justify-center items-center items-stretch">
                            <div class="text-center hover:text-white text-3xl text-gray-800 font-bold mb-2 py-8 sm:py-6 transform transition duration-500">
                                {{ year }}
                            </div>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </section>

{% endblock %}
