<div class="px-28 py-10">
    <section class="bg-gray-700 rounded-lg">
        {% for personn in taggedPersonns %}
            {% for item in personn %}
                <p class="text-white text-center font-bold py-2 my-4">- {{ item.prenom}}  {{ item.nom }} - </p>
            {% endfor %}
        {% endfor %}
    </section>
</div>


