<div class="md:mt-12 md:fixed md:left-0 md:top-0 content-center md:content-start text-left justify-between">
    <ul class="text-white list-reset flex flex-row md:flex-col py-0 md:py-3 px-1 md:px-2 text-center md:text-left">
        <li class="flex-1 mt-10 ml-3">
            <span class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block">RECHERCHER</span>
        </li>
        <li class="flex-1 mt-10 ml-3 rounded-lg hover:bg-gray-700">
            <a href="#" class="block py-1 md:py-3 pl-1 align-middle no-underline hover:text-blue-500">
                <i class="fas fa-graduation-cap text-blue-500 pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block">UNE ANNEE</span>
            </a>
        </li>
        <li class="flex-1 mt-10 ml-3 rounded-lg hover:bg-gray-700">
            <a href="#" class="block py-1 md:py-3 pl-1 align-middle no-underline hover:text-blue-500">
                <i class="fas fa-images text-blue-500 pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block">UN ALBUM</span>
            </a>
        </li>
        <li class="flex-1 mt-10 ml-3 rounded-lg hover:bg-gray-700">
            <a href="#" class="block py-1 md:py-3 pl-1 align-middle no-underline hover:text-blue-500">
                <i class="fas fa-camera text-blue-500 pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block">UNE PHOTO</span>
            </a>
        </li>
        <li class="flex-1 mt-10 ml-3 rounded-lg hover:bg-gray-700">
            <a href="#" class="block py-1 md:py-3 pl-1 align-middle no-underline hover:text-blue-500">
                <i class="fas fa-comment-dots text-blue-500 pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block">UN COMMENTAIRE</span>
            </a>
        </li>
    </ul>
</div>
<a  href="{{  path('home') }}" class="fixed bottom-0"><p class="text-white">Haut de page <i class="fas fa-arrow-circle-up"></i></p></a>