<div class="hidden lg:block md:mt-28 md:fixed md:left-0 md:top-0 content-center md:content-start text-left justify-between">

    <div class="flex flex-1 text-white mt-6 px-8">
        <div class=" search-icon" style="top: 1rem; left: .8rem;">
            <svg class="fill-current pointer-events-none text-blue-500 w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
            </svg>
        </div>
         <div class="text-xs xl:text-base text-white underline px-3">
              RECHERCHES DE PHOTOS
         </div>

    </div>

    <ul class="text-white list-reset flex flex-row md:flex-col text-xs xl:text-base">
        <li class="flex-1 mt-10 ml-6 rounded-lg xl:hover:bg-gray-700">
            <a href="#" id="activeModal1" class="activeModal block py-1 md:py-3 pl-1 align-middle no-underline hover:text-blue-500 modal-open">
                <i class="fas fa-users text-blue-500 pr-3"></i><span class="pb-1 md:pb-0 block md:inline-block">PAR PERSONNE</span>
            </a>
        </li>
        <li class="flex-1 mt-10 ml-6 rounded-lg xl:hover:bg-gray-700">
            <a href="#" id="activeModal4" class="activeModal block py-1 md:py-3 pl-1 align-middle no-underline hover:text-blue-500 modal-open">
                <i class="fas fa-location-arrow text-blue-500 pr-3"></i><span class="pb-1 md:pb-0 block md:inline-block">PAR LIEU</span>
            </a>
        </li>
        <li class="flex-1 mt-10 ml-6 rounded-lg xl:hover:bg-gray-700">
            <a href="#" id="activeModal2" class="activeModal block py-1 md:py-3 pl-1 align-middle no-underline hover:text-blue-500 modal-open">
                <i class="fas fa-calendar-alt text-blue-500 pr-3"></i><span class="pb-1 md:pb-0 block md:inline-block">PAR DATE</span>
            </a>
        </li>
        <li class="flex-1 mt-10 ml-6 rounded-lg xl:hover:bg-gray-700">
            <a href="#"  id="activeModal3" class="activeModal block py-1 md:py-3 pl-1 align-middle no-underline hover:text-blue-500 modal-open">
                <i class="fas fa-sitemap text-blue-500 pr-3"></i><span class="pb-1 md:pb-0 block md:inline-block">PAR THEME</span>
            </a>
        </li>
    </ul>
</div>

<a  href="{{  path('home') }}#home" class="fixed bottom-0"><p class="text-white">Haut de page <i class="fas fa-arrow-circle-up"></i></p></a>