<div class="bg-gray-800 shadow-xl h-16 fixed bottom-0 mt-12 md:relative md:h-screen z-10 w-full md:w-48">
    <div class="md:mt-12 md:fixed md:left-0 md:top-0 content-center md:content-start text-left justify-between">
        <ul class="text-white list-reset flex flex-row md:flex-col py-0 md:py-3 px-1 md:px-2 text-center md:text-left">
            <li Class="flex-1 mt-12 py-4 text-left text-blue-500 font-semibold border-t-2 border-blue-500">Zone De Recherches</li>
            <li class="flex-1 mt-8">
                <div class="flex flex-1 text-white px-2">
                    <span class="relative">
                     <input type="search" placeholder="Un mot, une date ..." class="w-full bg-gray-900 text-white transition border border-transparent focus:outline-none focus:border-gray-400 rounded py-3 px-2 pl-10 appearance-none leading-normal">
                     <div class="absolute search-icon" style="top: 1rem; left: .8rem;">
                        <svg class="fill-current pointer-events-none text-blue-500 w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                         <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
                        </svg>
                     </div>
                    </span>
                </div>
            </li>
            <li class="flex-1 mt-10 ml-3">
                <a href="#" class="block py-1 md:py-3 pl-1 align-middle no-underline hover:text-blue-500">
                    <i class="fas fa-images text-blue-500 pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block">UN ALBUM</span>
                </a>
            </li>
            <li class="flex-1 mt-10 ml-3">
                <a href="#" class="block py-1 md:py-3 pl-1 align-middle no-underline hover:text-blue-500">
                    <i class="fas fa-camera text-blue-500 pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block">UNE PHOTO</span>
                </a>
            </li>
            <li class="flex-1 mt-10 ml-3">
                <a href="#" class="block py-1 md:py-3 pl-1 align-middle no-underline hover:text-blue-500">
                    <i class="fas fa-comment-dots text-blue-500 pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block">UN COMMENTAIRE</span>
                </a>
            </li>
        </ul>
    </div>
</div>