 <section class="pt-32 lg:pt-8 lg:w-full main-input bg-gray-800 pt-8" xmlns="http://www.w3.org/1999/html">
    <div class="lg:rounded-lg lg:bg-gradient-to-b from-gray-700 to-gray-500 p-6 lg:mx-80 lg:shadow-lg">
        <a href="{{ path('add_photo') }}">
            <div class="w-3/5 m-auto lg:w-full rounded-full py-4 text-center text-xl bg-blue-900 text-gray-400 px-8 hover:scale-105 hover:bg-blue-700 hover:text-white transform transition duration-500">
                Ajouter des photos
            </div>
        </a>
    </div>
 </section>