<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Album Photo{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" /><link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <style>
        .modal {
            transition: opacity 0.25s ease;
        }
        body.modal-active {
            overflow-x: hidden;
            overflow-y: visible !important;
        }
        .opacity-95 {opacity: .95;}
    </style>
</head>

<body class="bg-gray-800 h-screen font-sans leading-normal tracking-normal mt-12">
<header>
    {% include 'component/header.html.twig' %}
</header>

{% block body %}{% endblock %}



<script>
    /*Toggle dropdown list*/
    function toggleDD(myDropMenu) {
        document.getElementById(myDropMenu).classList.toggle("invisible");
    }
    /*Filter dropdown options*/
    function filterDD(myDropMenu, myDropMenuSearch) {
        let input, filter, ul, li, a, i;
        input = document.getElementById(myDropMenuSearch);
        filter = input.value.toUpperCase();
        div = document.getElementById(myDropMenu);
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
        if (!event.target.matches('.drop-button') && !event.target.matches('.drop-search')) {
            let dropdowns = document.getElementsByClassName("dropdownlist");
            for (let i = 0; i < dropdowns.length; i++) {
                let openDropdown = dropdowns[i];
                if (!openDropdown.classList.contains('invisible')) {
                    openDropdown.classList.add('invisible');
                }
            }
        }
    }

    let openModal = document.querySelectorAll('.modal-open')
    for (let i = 0; i < openModal.length; i++) {
        openModal[i].addEventListener('click', function(event){
            event.preventDefault()
            toggleModal()
        })
    }

    //const overlay = document.querySelector('.modal-overlay')
    //document.querySelector('.modal-overlay').addEventListener('click', toggleModal)

    let closeModal = document.querySelectorAll('.modal-close')
    for (let i = 0; i < closeModal.length; i++) {
        closeModal[i].addEventListener('click', toggleModal)
    }

    document.onkeydown = function(evt) {
        evt = evt || window.event
        let isEscape = false
        if ("key" in evt) {
            isEscape = (evt.key === "Escape" || evt.key === "Esc")
        } else {
            isEscape = (evt.keyCode === 27)
        }
        if (isEscape && document.body.classList.contains('modal-active')) {
            toggleModal()
        }
    };

    function toggleModal () {
        const body = document.querySelector('body')
        const modal = document.querySelector('.modal')
        modal.classList.toggle('opacity-0')
        modal.classList.toggle('pointer-events-none')
        body.classList.toggle('modal-active')
    }

    //gestion de la modale home page => search
    let modal1 = document.getElementById('modal1');
    let modal2 = document.getElementById('modal2');
    let modal3 = document.getElementById('modal3');
    let modal4 = document.getElementById('modal4');
    let modal5 = document.getElementById('modal5');
    let modal6 = document.getElementById('modal6');
    let allModal = [modal1, modal2, modal3, modal4, modal5, modal6];

    let activeModal1 = document.getElementById('activeModal1');
    let activeModal2 = document.getElementById('activeModal2');
    let activeModal3 = document.getElementById('activeModal3');
    let activeModal4 = document.getElementById('activeModal4');
    let activeModal5 = document.getElementById('activeModal5');
    let activeModal6 = document.getElementById('activeModal6');
    let allActive = [activeModal1, activeModal2, activeModal3, activeModal4,activeModal5,activeModal6]

  for (let i in allActive){
      allActive[i].addEventListener('click', () => {
          allModal.map(item => item.setAttribute("style", "display:none"));
          allModal[i].setAttribute("style", "display:bloc");
      })
  }


// a tester pour refacto

    /*let modalManage = document.getElementsByClassName('modalManage');
  let activeModal = document.getElementsByClassName('activeModal');

    for (let i in activeModal){
    activeModal[i].addEventListener('click', () => {
        modalManage.map(item => item.setAttribute("style", "display:none"));
        modalManage[i].setAttribute("style", "display:bloc");
    })
}
   */

</script>

</body>
</html>
