{% extends 'base.html.twig' %}

{% block body %}

    <section class="mt-48 text-center">
        <h1 class="text-base text-5xl text-blue-600 mb-12">Problème de connexion au serveur</h1>

        <p class="text-gray-300">
            Cliquer sur le lien ci-dessous pour revenir à la page d'accueil ou contacter l'administrateur : <a href="#" class="underline">contact@famille-messanges.fr</a>
        </p>

        <div class="flex justify-center m-10 px-20">
            <a href="{{ path('logout') }}">
                <button class="px-3 py-4 text-sm rounded-lg text-gray-300 bg-red-900 hover:bg-red-700">
                    Retour Page d'accueil
                </button>
            </a>
        </div>
    </section>



{% endblock %}