<h2>Un nouvel utilsateur vient de s'inscrire !</h2>

<h3>Nom : {{ lastname }} </h3>
<h3>Prénom : {{ firstname }}</h3>
<h3>Pseudo : {{ pseudo }}</h3>

<h4> > Compte à valider dans un délai de 24h à compter de la date de réception de ce mail</h4>
<h4> > Activation du compte à confirmer par retour de mail, à : {{ email }}</h4>



